body {
	background-color :blue;
	display:flex;
}

img {
	height:576px;
	margin:0px;
	border-width:0;
}

#droite {
	position: relative;
}

.cache {
	visibility: hidden;
	height:0;
	width:0;
	position: absolute;
	top:0;
}

.normal {
	width:768px;
	position:absolute;
	top:0;
}

#image {position: relative;
	height:576px;
	width:768px;
	margin:0px;
	border-width:0;
}


